#a_color{
    height: 200px;
    width: 200px;
    background-color: brown;
    position: relative; 
    animation-duration: 5s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    /* animation-direction: reverse; */
    animation-name: movingBox;
    border: 30px groove yellowgreen;
    box-shadow: 30px 40px 10px grey;
    margin: 20px;
}

@keyframes movingBox{
    0%{background-color: chocolate; left: 0px; top: 0px;}
    25%{background-color:blueviolet; bottom: 300px; top: 0px;}
    50%{background-color:blue; left: 300px; top: 300px;}
    75%{background-color:deepskyblue; left: 0px; top: 300px;}
    100%{background-color:darkgreen; left: 0px; top: 0px;}
    
}