 /* h1{
    color: blue;
    font-size: 60px;
    background-color: aqua;
} */


/* .heading1{
            color:brown;
            font-size: 50px;
            background-color: aqua;
        } 
.heading2{
    color:blueviolet;
    font-size: 40px;
}
.heading3{
background-color:burlywood;
}
.heading4{
    color: blue;
    font-size: 50px;
}
#heading5{
    color: brown;
    font-size: 30px;
    background-color: chartreuse;
} */
.b_properties{
    border: 20px groove red;
    width: 300px;
}
.b_properties1{
    border: 20px solid yellow;
    border-top-color: blue;
    border-right-color: brown;
    border-left-color: brown;
    border-bottom-color: blue;
    width: 300px;
}
.b_properties2{
    border: 20px solid red;
    border-radius: 40px;
    width: 300px;
}
.b_properties3{
     border: 20px solid pink;
    border-radius: 50%;
    width: 300px; 
}
.b_properties4{
    border: 10px double brown;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 300px;
}
.b_properties5{
    border: 10px dotted brown;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 300px;
}
.b_properties6{
    border: 10px outset brown;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 300px;
}
.b_properties7{
    border: 10px inset brown;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 300px;
}